/*Estilos generales*/
*{
    font-family: Arial ;
    margin: 0;
}

/*Titulo*/
.header-color{
    color: darkorange;
    display: flex;
    justify-content: center;
}

/*imagen de fonto*/
.bg-girasol {
    background-image: url(../img/girasol.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 30%;
}

/* contenedor formulario*/
.bg-white {
    background-color: white;
}

.form-container {
    padding: 5rem;
    width: 50%;
    border-radius: 0.4rem;
}

/*contenedor inputs*/
.input-container {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column; 
}

.input-container input {
    border-radius: 0.4rem;
    border: solid 0.1rem gray;
    padding: 0.4rem;
    margin-top: 0.2rem;
}

.checkbok-container {
    margin-top: 0.5rem;
}

/*estilo de boton*/
.btn-login-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    
 }

.btn-login-container button {
    padding: 0.7rem;
    background-color: green;
    border: 0;
    border-radius: 0.2rem;
    color: #fff;
    transition: background-color 0.5s;
    transition: padding 0.5s;
   margin:3px;
}

.btn-login-container button:hover {
    background-color: rgb(255, 136, 0);
    padding: 1rem;
}


/*alineacion formulario*/
.screen-form{
    height: 100vh ;
    display: flex;
    justify-content: center;
    align-items: center ;
}
/* container*/
.item{
    width: 40%;
    margin-left: 100px;
}

