/*Estilos generales*/

*{
    font-family: Arial ;
    margin: 0;

}
/*color de titulo*/
.header-color{
    color: darkorange;
}
/*imagen de fonto*/

.bg-girasol {
    background-image: url(../img/girasol.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 30%;
}
/* contenedor formulario*/

.bg-white {
    background-color: white;

}

.form-container {
    padding: 4rem;
    width: 50%;
    border-radius: 0.4rem;
}
/*contenedor inputs*/

/*estilo de boton*/


/*alineacion formulario*/
.screen-form{
    height: 100vh ;
    display: flex;
    justify-content: center;
    align-items: center ;

}

.item{
    order:5;
}

