/*

estructura basica de los estilos de css

clase/etiqueta{
        estilo_a_aplicar: propiedad_del_estilo;
}

*/

/*estilos generales*/

* {
  font-family: Arial, Helvetica, sans-serif;

  margin: 0;
  padding: 0;
}

/* NavNar Styles */
nav {
  background-color: rgb(17, 111, 93);
  padding: 30px;
  color: cornsilk;
}

/*button heade styles*/
.btn-header-style {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 2, 100);
  padding: 10px;
  border: 0;
  border-radius: 6px;
  margin-top: 50px; /* espaciado arriba
    margin-bottom: ; espaciado abajo
    margin-left: ; espaciado izquierda
    margin-right: ; espaciado derecha*/
}

/*header container styles*/
.overlay-div {
  background-color: black;
}
.header-container {
  display: flex;
  height: 500px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
.bg-header {
  background-image: url("../img/burguer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  opacity: 0.4;
}

/* seccion tarjetas */
.img-size {
  width: 300px;
  border-radius: 7px 7px 0 0;
}
.card-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 60px;
}

.cards-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px;
}

.text-card {
  margin-top: 16px;
  margin-bottom: 16px;
}

.btn-order {
  width: 60px;
  text-decoration: none;
  background-color: blue;
  padding: 6px;
  color: #fff;
  border-radius: 6px;
  margin-top: 20px;
  transition: all 2s;
}

.btn-order:hover {
  background-color: yellow;
  color: black;
}

.border-card {
  border: solid gray 1px;
  border-radius: 7px;
}

.description-card {
  padding: 3rem;
}
